@using PhotoArtSystem.Web.Controllers

<div class="navbar navbar-inverse navbar-fixed-top photoartsystem-navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand photoartsystem-navbar-brand" href="@(Url.Action<HomeController>(c => c.Index()))">
                <img src="~/Images/logoOriginal.png" />
            </a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@(Html.ActionLink<HomeController>(HtmlConstants.HomeLinkName, c => c.Index()))</li>
                <li>@(Html.ActionLink<PhotocourseController>(HtmlConstants.PhotocoursesLinkName, c => c.Index()))</li>                                
                <li>@(Html.ActionLink<HomeController>(HtmlConstants.ContactLinkName, c => c.Contact()))</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
