
@using PhotoArtSystem.Web.Areas.Administration.ViewModels
@model PhotocourseSetupViewModel

@{
    ViewBag.Title = "Create new photo cource";
}

<div id="photoartsystem-photocourse-create" class="container">
    <h2>@ViewBag.Title</h2>
    <hr />

    @using (Html.BeginForm<PhotocourseSetupController>(c => c.CreateNewPhotocourse(null),
                                                                    FormMethod.Post,
                                                                    null,
                                                                    new { id = "CreateNewPhotocourse", @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-4">
                @Html.EditorFor(m => m.PhotocourseCreate.Name)
            </div>
            <div class="col-md-4">
                @Html.EditorFor(m => m.PhotocourseCreate.MaxStudents)
            </div>
            <div class="col-md-4">
                @Html.EditorFor(m => m.PhotocourseCreate.Teacher)
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                @Html.EditorFor(m => m.PhotocourseCreate.DurationHours)
            </div>
            <div class="col-md-4">
                @Html.EditorFor(m => m.PhotocourseCreate.StartDate)
            </div>
            <div class="col-md-4">
                @Html.EditorFor(m => m.PhotocourseCreate.EndDate)
            </div>
        </div>

        @Html.EditorFor(m => m.PhotocourseCreate.DescriptionShort)

        @Html.EditorFor(m => m.PhotocourseCreate.Description)

        @Html.EditorFor(m => m.PhotocourseCreate.OtherInfo)

        <div class="form-group">
            @Html.LabelFor(m => m.Files, new { @class = "control-label" })
            <label class="input">
                <span id="btn-images" class="button btn btn-success">
                    Browse
                </span>
                <input id="readonly-images" type="text" readonly="readonly" class="form-control input-readonly" />
            </label>
            @Html.TextBoxFor(m => m.Files, new { type = "file", multiple = "multiple", @class = "hidden" })
            @Html.ValidationMessageFor(m => m.Files, string.Empty, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CoverImage, new { @class = "control-label" })
            <label class="input">
                <span id="btn-cover-image" class="button btn btn-success">
                    Browse
                </span>
                <input id="readonly-cover-image" type="text" readonly="readonly" class="form-control input-readonly" />
            </label>
            @Html.TextBoxFor(m => m.CoverImage, new { type = "file", @class = "hidden" })
            @Html.ValidationMessageFor(m => m.CoverImage, string.Empty, new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.Submit("Submit", new { id = "CreateNewPhotocourse-Submit", @class = "btn btn-default" })
        </div>
    }
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryUnobtrusive")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/tinymceJs")
    @Scripts.Render("~/bundles/photocourseCreate")    
}

