@using PhotoArtSystem.Web.ViewModels.PhotocourseModels
@model PhotocourseDetailsViewModel

<h2><strong>@Model.Name</strong></h2>
<br />
<div class="row">
    <div class="col-xs-12">
        <div id="photoartsystem-owl-carousel" class="owl-carousel owl-theme">
            @foreach (var image in Model.Images)
            {
                <a href="@image.UrlPath" data-fancybox="images">
                    <img src="@image.UrlPath" class="img-responsive img-thumbnail" />
                </a>
            }
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-xs-12">        
        <div>
            <strong>@Model.StudentPositionCount</strong><span> free seats.</span>
        </div>
        <div>
            <strong>@Model.DurationHours</strong><span> astronomic hours.</span>
        </div>
        <div class="photoartsystem-datetime">
            <span>Start: </span><strong>@Model.StartDate</strong>
            <span> - </span>
            <span>End: </span><strong>@Model.StartDate</strong>
        </div>
        <br />
        <div class="photoartsystem-text-warp">
            @Html.Raw(@Model.DescriptionShort)
        </div>
        <br />
        <div  class="photoartsystem-text-warp">
            @Html.Raw(@Model.Description)
        </div>
        <br />
        <div class="photoartsystem-text-warp">
            @Html.Raw(@Model.OtherInfo)
        </div>
        <div>
            <span>Teacher: </span><span class="text-capitalize">@Model.Teacher</span>
        </div>
    </div>
</div>


