@using PhotoArtSystem.Web.ViewModels.PhotocourseModels
@model IEnumerable<PhotocourseViewModel>

<div class="row">

    @foreach (var photocourse in Model)
    {
        <article class="col-md-3 col-sm-4 col-xs-6">
            <a href="@(Url.Action<PhotocourseController>(c => c.Details(@photocourse.Id)))">
                <div>                    
                    @*<img src="@photocourse.MainImage" class="img-thumbnail img-responsive" />*@
                    <div class="photoartsystem-card-text">                        
                        <h2 class="photoartsystem-card-title">@photocourse.Name</h2>
                        <div class="photoartsystem-card-description">
                            @photocourse.Description
                        </div>
                    </div>
                </div>                
            </a>
        </article>
    }

</div>
