@using PhotoArtSystem.Web.ViewModels.PhotocourseModels
@model PhotocourseDetailsViewModel

<h2>@Model.Name</h2>
<br />
<div class="row">
    <div class="col-xs-12">
        <div id="photoartsystem-owl-carousel" class="owl-carousel owl-theme">
            @foreach (var image in Model.Images)
            {
                <a href="@image.UrlPath" data-fancybox="images">
                    <img src="@image.UrlPath" class="img-responsive img-thumbnail" />
                </a>
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">        
        <div>
            <span>@Model.StudentPositionCount</span><span> free seats.</span>
        </div>
        <div>
            <span>@Model.DurationHours</span><span> astronomic hours.</span>
        </div>
        <div>
            <span>Start: </span><span>@Model.StartDate</span>
            <span> - </span>
            <span>End: </span><span>@Model.StartDate</span>
        </div>
        <div class="photoartsystem-text-warp">
            @Html.Raw(@Model.DescriptionShort)
        </div>
        <div  class="photoartsystem-text-warp">
            @Html.Raw(@Model.Description)
        </div>
        <div class="photoartsystem-text-warp">
            @Html.Raw(@Model.OtherInfo)
        </div>
        <div>
            <span class="pull-left">@Model.Teacher</span>
        </div>
    </div>
</div>


