@model PhotoArtSystem.Web.ViewModels.Manage.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <h2>@ViewBag.Title.</h2>
        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Change Password Form</h4>
            <hr />
            @Html.EditorFor(m => m.OldPassword)
            @Html.EditorFor(m => m.NewPassword)
            @Html.EditorFor(m => m.ConfirmPassword)
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Change password" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
